* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --preto-padrao: #0f0f0f;
}

body {
    height: 100%;
    background-color: var(--preto-padrao);
    color: #fefefe;

}


.weather__box {
    display: flex;
    justify-content: center;
    

}

.center__box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.weather {
    width: 400px;
    height: 400px;
    background-color: blue;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    

}
.bx-search-alt-2{
    color: var(--preto-padrao);
    font-size: 50px;
    margin-left: 20px;
    max-height: 50px;
}

.bx-search-alt-2:hover{
    cursor: pointer
}


input {
    height: 50px;
    width: 250px;
    text-align: center;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8);
    font-size: 22px;
    outline: none;
    border-radius: 10px;
    border: none;
}

input:focus {
    transition: 0.2s;
    border: 3px solid var(--preto-padrao);
}

.cidade {
    display:flex;
}